{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container text-center">
        <h2>{{ workout.name }}</h2>
        <p><strong>Difficulty:</strong> {{ workout.difficulty }}</p>
        <p><strong>Length:</strong> {{ workout.length }} minutes</p>
        <p><strong>Price:</strong> £{{ workout.price }}</p>
        <p>{{ workout.description }}</p>
        <img src="{{ workout.image.url }}" alt="{{ workout.name }}" class="img-fluid">
    </div>
</section>
{% endblock content %}
